@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


* {
    font-family: "IBM Plex Mono", monospace;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
.poppins {
    font-family: "Poppins", sans-serif;
}

.blueShadow {
    box-shadow: 0 14px 55px rgba(47, 115, 4, 0.75);
}

.h1_font_family {
    font-family: "Poppins", sans-serif;
}

.toggle_font_color_highlight {
    @apply dark:text-lime-400 text-violet-800;
}

.toggle_hover_font_color {
    @apply hover:dark:text-lime-400 hover:text-violet-800
}

.toggle_btn_hover_color {
    @apply dark:bg-lime-400 bg-violet-400;
}


.blueShadow {
  box-shadow: 0 14px 55px rgba(109, 40, 217, 0.45);
}

.specialSpin {
    animation: spin 5s linear infinite;
}
