@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


* {
    font-family: "IBM Plex Mono", monospace;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
.poppins {
    font-family: "Poppins", sans-serif;
}

.green_shadow {
    box-shadow: 0 14px 55px rgba(47, 115, 4, 0.75);
}

.h1_font_family {
    font-family: "Poppins", sans-serif;
}

.toggle_font_color_highlight {
    @apply dark:text-lime-400 text-gray-900;
}

.toggle_hover_font_color {
    @apply hover:dark:text-lime-400 hover:text-gray-900
}

.toggle_btn_hover_color {
    @apply dark:bg-lime-400 bg-gray-400;
}


.blue_shadow {
    box-shadow: 0 14px 55px rgba(109, 40, 217, 0.45);
}

.specialSpin {
    animation: spin 5s linear infinite;
}

.section_title_content_layout {
    @apply flex flex-col gap-16 sm:gap-20 md:gap-24 w-full
}

.section_title {
    @apply font-light text-3xl sm:text-4xl pt-[70px]
}

